@model IEnumerable<TeamSports.Models.City>

@{
    ViewBag.Title = "Index";
}



<div class="col-xs-12 section-header">
    <span>Cities</span>
    @Html.ActionLink("Add new city", "Create", "Cities", new { @class = "btn btn-default pull-right" })
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
