<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>EnjoySports</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body class="no-skin">
    <div id="navbar" class="navbar navbar-default ace-save-state">
        <div class="navbar-container ace-save-state" id="navbar-container">
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                <span class="sr-only">Toggle sidebar</span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>
            </button>

            <div class="navbar-header pull-left">
                @Html.ActionLink("EnjoySports", "Index", "Events", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    <li>
                        @Html.Partial("_LoginPartial")
                    </li>

                </ul>
            </div>
        </div><!-- /.navbar-container -->
    </div>

    <div class="main-container ace-save-state" id="main-container">
        <div id="sidebar" class="sidebar responsive ace-save-state">
            <ul class="nav nav-list">
            @if (User.Identity.IsAuthenticated)
            {
                <li>@Html.ActionLink("My events", "Index", "Cities")</li>
                <li>@Html.ActionLink("Search events", "Index", "Cities")</li>
                if (User.IsInRole("Admin"))
                {
                <li>@Html.ActionLink("Sports", "Index", "Sports")</li>
                <li>@Html.ActionLink("Levels", "Index", "Levels")</li>
                <li>@Html.ActionLink("Cities", "Index", "Cities")</li>
                }
            }
            </ul><!-- /.nav-list -->
        </div>

        <div class="main-content">
            <div class="main-content-inner">
                <div class="page-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            @RenderBody()
                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->

        <div class="footer">
            <div class="footer-inner">
                <div class="footer-content">
                    <span class="bigger-120">
                        <span class="blue bolder">Maciej Wisniewski</span>
                        &copy; 2016
                    </span>
                </div>
            </div>
        </div>
    </div><!-- /.main-container -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ace")
    @RenderSection("scripts", required: false)
</body>
</html>
